.header {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subjectdropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subjects {
    overflow-y: scroll;
    height: 500px;
}

#join {
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
}

body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
